.ck-ctable-main {
  margin-bottom: 0 !important;
  overflow: hidden;
  th,td {
    vertical-align: middle!important;
    font-size: .9rem;
  }
  thead th {
    border-bottom: none !important;
  }
  .pagination-sm {
    margin-bottom: 0 !important;
    a {
      box-shadow: none;
    }
    .page-link {
      font-size: .75rem!important;
      padding: .1rem .25rem!important;
    }
  }
}

.ck-ctable-body {
  height: 100%;
  background-color: #C5C5C5;
  overflow: hidden;
  .rows {
    overflow: auto;
  }
  table {
    background-color: white;
    max-width: none;
  }
}

.ck-ctable-header {
  border-bottom: none!important;
}
