.ck-ctable-main {
  margin-bottom: 0 !important;
  overflow: hidden;
  .table-sm {
    td,th {
      padding: .2rem;
      font-size: .5rem;
    }
  }
  th,td {
    vertical-align: middle!important;
    font-size: .75rem!important;
  }
  thead th {
    border-bottom: none !important;
    font-weight: unset;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .pagination-sm {
    margin-bottom: 0 !important;
    a {
      box-shadow: none;
    }
    .page-link {
      font-size: .75rem!important;
      padding: .1rem .25rem!important;
    }
  }
  table {
    background-color: white;
    max-width: none;
    table-layout: fixed;
  }
  .disabled {
    background-color: #ECECEC;
  }

  .ck-check-icon {
    font-size: .8rem!important;
  }
}

.ck-ctable-body {
  position: relative;
  height: 100%;
  background-color: #C5C5C5;
  overflow: hidden;
  .rows {
    overflow: auto;
  }
}

.ck-ctable-header {
  border-bottom: none!important;
  th {
    &:first-child {
      border-left-color: #dee2e6 !important;
    }
    &:last-child {
      border-right-color: #dee2e6 !important;
    }
    border-left-color: #b6babd !important;
    border-right-color: #b6babd !important;
  }
}

.ck-ctable-nowrap {
  th {
    overflow: hidden;
    white-space: nowrap!important;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ck-column-split {
  position: absolute;
  height: 100%;
  width: 5px;
  right: -1px;
  top:0;
  cursor: col-resize;
  &:hover {
    background-color: #C5C5C5;
  }
}

.ck-split {
  position: absolute;
  height: 100%;
  width: 5px;
  opacity: .5;
  top: 0;
  background-color: #1c1c1c;
}

.ck-ctable-sort {
  color: #333;
}

.ck-ctable-foot {

}